/* body{
    margin: 0;
    font-family: "Carter One";
    color: #ffd5af;
    background: #333c4d;
    overflow: hidden;
    display: block;
} */

:root{
  font-size: 10px;
  font-family: "Carter One";
  --bg-darkmode: #040412;
  --text-darkmode: #ffffff;
  --bg-lightmode: #ffffff;
  --text-lightmode: #040412;
}

html,
body,
#root {
  color: var(--text-darkmode);
  background-color: var(--bg-darkmode);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

.mainroute {
  width: 100%;
  padding: 1vw;
  background: #ffffff0b;
}