/* body{
    margin: 0;
    font-family: "Carter One";
    color: #ffd5af;
    background: #333c4d;
    overflow: hidden;
    display: block;
} */

:root{
  font-size: 10px;
  font-family: "Carter One";
  --text-darkmode: #ffd5af;
  --text-lightmode: #073459;
  --bg-darkmode: #333c4d;
  --bg-lightmode: #ffffff;
}

html,
body {
  color: var(--text-darkmode);
  background-color: var(--bg-darkmode);
  margin: 0;
  padding: 0;
}

.mainroute {
  margin-left: 10vw;
  padding: 1rem;
}


#root {
  /* margin-left: 5rem; 
  padding: 1rem; */
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}