.homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-h1 {
    text-align: center;
    font-size: 75px;
    margin: 0;
    padding: 0;
}

.typeWriter {
    font-size: 20px;
}

.skills-and-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
} 

.skills, .socials{
    background-color: #ffffff04;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 45%;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.skills-title, .socials-title {
    font-size: 20px;
}

//INSIDE THE SKILLS BLOCK BELOW

.skillsList {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.skill-item {
    margin: 5px;
    padding: 5px;
    background-color:  #ffffff0f;
}

//INSIDE THE SOCIAL BLOCK BELOW

.socialsList {
    height: 100%;
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin: 10px 0;

}

.socialsList svg {
    min-width: 100px;
    min-height: 100px;
}

.social-item{
    transition: 500ms ease;
}

.social-item:hover {
    color: #f3a86b;
}

.circleSVG {
    color: #ffffff07;
}

//BUTTONS BELOW

.social-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: auto;
}

.button {
    font-size: 20px;
}

.button {
    text-decoration: none;
    align-self: center;
    margin-top: auto;
    padding: 0.5vw 1vw;
    background-color:  #f3a86b8a;
    border-radius: 5px;
    color: #000000;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.button:hover{
    top: -5px;
}

@media screen and (max-width:625px) {
    .skills, .socials{
        width: 90vw;
    }
}







