
/* 
Default Navbar state
*/

:root{
    --initial-width: 4vw; //the width used for the navbar to start & the logo
    --svg-size: 3vw; //used for the svg icons' minimum height and width
}

.logo {
    width: var(--initial-width);
}

.navbar {
    width: var(--initial-width);
    height: 100vh;
    background-color: var(--bg-darkmode);
    flex-shrink: 0; //ensures the navbar element doesn't shrick itself, as the mainroute overlaps without the code
    transition: 500ms ease; //when any property of the navbar changes, it has a transition that eases at 500ms
}

.navbar-nav {
    width: var(--initial-width);
    height: 100vh;
    position: fixed;
    //"position: fixed" ensures the navigation doesn't move with the page. 
    //However, because having a fixed position takes the element out of the flow of the page,
    //it hass been added to the ul-element instead of the nav-element encompassing it to get around that.
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 500ms ease;
  }

li.nav-item {
    width: 100%;
    padding: 1vh 0em;
}

.nav-item:first-child {
    padding: 0;
    display: flex;
    justify-content: center;
}

a.nav-item-active, a.nav-item-inactive {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 1.5vw;
    -webkit-text-stroke: 0.5px #073459;
}

a.nav-item-active svg, a.nav-item-inactive svg {
    min-width: var(--svg-size);
    min-height: var(--svg-size);
    margin: 0 0.5vw;
}

a.nav-item-inactive{
    color: var(--text-darkmode);
    opacity: 30%;
}

a.nav-item-active{
    color: #f3a86b
}

.nav-item-text {
    // display: none;
    margin-left: 1vw;
    opacity: 0;
    transition: opacity 500ms ease;
}

.nav-item:last-child {
   margin-top: auto;
}

/*
Hover Navbar state
*/

.navbar:hover, .navbar:hover .navbar-nav {
    width: 12vw;
}

.navbar:hover span {
  opacity: 1;
}

@media screen and (max-width:700px) {

    #root {
        display: flex;
        flex-direction:column;
      }

    .navbar {
        all:revert;
        width: 100vw;
        height: fit-content;
        background-color: var(--bg-darkmode);
    }
    .navbar-nav {
        all:revert;
        width: 100vw;
        height: fit-content;
        position: fixed;
        background-color: var(--bg-darkmode);
        
        //"position: fixed" ensures the navigation doesn't move with the page. 
        //However, because having a fixed position takes the element out of the flow of the page,
        //it hass been added to the ul-element instead of the nav-element encompassing it to get around that.
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        transition: 500ms ease;
      }

      .navbar:hover, .navbar:hover .navbar-nav {
        width: 100vw;
    }
    


      .nav-item:last-child, .nav-item:first-child, .nav-item-text{
        display: none;
     }

     .nav-item {
        width: fit-content !important;
     }

     a.nav-item-active svg, a.nav-item-inactive svg {
        min-width: 50px;
        min-height: 50px;
        margin: 0 10px;
    }

    .mainroute {
        margin-top: 60px;
    }

}