
/* 
Default Navbar state
*/

.logo {
    width: 5vw;
    border: 2px solid black;
}

.navbar {
    width: 5vw;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-lightmode);
    transition: 500ms ease;
}

.navbar-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li.nav-item {
    width: 100%;
    padding: 1vh 0em;
}

.nav-item:first-child {
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
}

a.nav-item-active, a.nav-item-inactive {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 1.5vw;
    -webkit-text-stroke: 0.5px #073459;
}

a.nav-item-active svg, a.nav-item-inactive svg {
    min-width: 4vw;
    min-height: 4vw;
    margin: 0 0.5vw;
}

a.nav-item-inactive{
    color: #ffd5af
}

a.nav-item-active{
    color: blue;
}

.nav-item-text {
    // display: none;
    margin-left: 1vw;
    opacity: 0;
    transition: opacity 500ms ease;
}

.nav-item:last-child {
   margin-top: auto;
}

/* 
Hover Navbar state
*/

.navbar:hover {
    width: 15vw;
}

.navbar:hover span {
  opacity: 1;
}

.navbar:hover .nav-item .logo img {
   
}
